html
{
 overflow: auto;
}

html, body, div, iframe
{
 margin: 0px;
 padding: 0px;
 height: 100%;
 border: none;
}
iframe
{
 display: block;
 position: absolute;
 z-index: 1;
 width: 100%;
 border: none;
 overflow-y: auto;
 overflow-x: hidden;
}
