iframe{
  transition: 0.2s filter linear, 0.2s -webkit-filter linear;
}
#hud{
  position: absolute;
  display:block;
  z-index: 2;
  width:100%;
  height:100%;
  pointer-events: none;
}

#popup{
    z-index:5;
    position: absolute;
    pointer-events: auto;
    right: 0px;
    top: -4%;
    width: 250px;
    height: 150px;;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s linear;
}

#pointer{
    position: absolute;
    width:25px;
    height:25px;
    top:152px;
    left:252px;
	z-index:100;
}

#parameter-icon{
  position: absolute;
  left: 15px;
  top: 15px;
  cursor: pointer;
  pointer-events:auto;
}
#param-col{
  display: none;
  float: none;
  margin: 0 auto;
}
#param-card{
  height:initial;
  pointer-events:auto;
}
.param-select{
  width: 200px;
  font-family: "Courier New", Courier, monospace;
  text-indent: 1em;
}

#close-param{
  float: right;
  cursor: pointer;
}
