#popup{
    z-index: 5;
    position: absolute;
    top:25%;
    width: 310px;
    display: none;
    -webkit-backdrop-filter: blur(5px);
}

#qrcode {
    pointer-events: none;
    z-index: 6;
    margin: 0px auto;
    width:250px;
}

#background{
    z-index: 4;
    position:fixed;
    top:0px;
    left:0px;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height:100%;
    display: none;
}
#presName{
    float:left;
}

#closeQR{
    float: right;
    cursor: pointer;
}
