<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Active Sessions</h4>
                <p class="card-category"> Here is the list of all active sessions</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Master
                            </th>
                            <th>
                                Viewer
                            </th>
                            <th>
                                QR code
                            </th>
                        </thead>
                        <tbody>
                            SESSIONLIST
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-primary pull-left" onclick="location.href='create';"> Create session </button>
            </div>
        </div>
    </div>
    <div id="popup" class="card">
        <div class="card-header card-header-primary">
            <h4 id="presName" class="card-title">
            <h4>
            <i id="closeQR" class="material-icons" onclick="closeQR()">close</i>
        </div>
        <div class="card-body" style="pointer-events: none">
            <div id="qrcode">
            </div>
        </div>
    </div>
    <div id="background">
    </div>
</div>
<script src="js/showQR.js"></script>
