<style>
    #droparea,#contentarea{
    background-color: #d6e6da;
    outline:2px dashed grey;
    }
    #dropareaText,#contentareaText{
    padding-left:10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Upload Files</h4>
                    <p class="card-category">Create a new MORE presentation</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="bmd-label-floating">Name</label>
                                <input id="presnameArea" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Presentation files panel -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Presentation files</label>
                                <div id="droparea" class="form-group">
                                    <textarea id="dropareaText" class="form-control" rows="8" disabled ></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- Content files panel -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Content files</label>
                                <div id="contentarea" class="form-group">
                                    <textarea id="contentareaText" class="form-control" rows="8" disabled ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-danger pull-right" onclick="sendFiles()">Upload files</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- Two div elements when success/fail -->
        <div class="col-md-10">
            <div class="alert alert-success" id ="success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
                </button>
                <span>
                <b> Success - </b> Upload is done</span>
            </div>
            <div class="alert alert-danger" id ="fail">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
                </button>
                <span>
                <b> Error- </b> Upload has failed</span>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script type="text/x-handlebars-template" id="tableTemplate"></script>
<script src="upload/js/upload.js"></script>
