<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title"> New session</h4>
                <p class="card-category">Create your session</p>
            </div>
            <div class="card-body">
                <form action="/create" method="post">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="bmd-label-floating">Name</label>
                                <input name="presName4POST" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> Select the presentations you want</label>
                                <div class="form-group">
                                    PRESENTATIONLIST
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right"> Submit </button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
