<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Session created</h4>
            <p class="card-category">Time to send links !</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12" style=" width: 100%; text-align:center;">
                    <h1> Congrats ! </h1>
                    <h2>
                    You have successfully created your MORE presentation !
                    <h2>
                    <br>
                    <h4 id="masterP">Master Link : <a id="masterID" href="MASTERURI" target="_blank"></a></h4>
                    <br>
                    <h4 id="viewerP">Viewer Link : <a id="viewerID" href="VIEWERURI" target="_blank"></a></h4>
                    <br>
                    <div style="display: inline-block;" id="qrcode"></div>
                    <br>
                    <button class="btn btn-primary" onclick="location.href='/';">Back to Menu</button>
                </div>
                <script>
                    document.getElementById("masterID").innerHTML += window.location.host +"/" +document.getElementById("masterID").getAttribute("href");
                    document.getElementById("viewerID").innerHTML += window.location.host +"/" + document.getElementById("viewerID").getAttribute("href");
                </script>
                <script type="text/javascript">
                    new QRCode(document.getElementById("qrcode"), "http://" + window.location.host +"/" + document.getElementById("viewerID").getAttribute("href"));

                </script>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
